{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% macro icon() %}
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 212 212">
    <path
        d=" M 106 0.701 C 47.94 0.701 0.708 47.933 0.708 105.992 C 0.708 164.052 47.94 211.284 106 211.284 L 108.194 211.284 C 108.948 211.319 109.633 211.284 110.387 211.284 L 110.387 211.012 C 166.394 208.678 211.292 162.543 211.292 105.992 C 211.292 92.72 208.815 80.025 204.301 68.336 C 193.874 41.341 172.578 19.713 145.817 8.746 C 139.161 6.018 132.166 3.95 124.917 2.622 C 120.178 1.353 115.293 0.708 110.387 0.701 L 110.387 0.973 C 108.913 0.902 107.474 0.701 106 0.701 Z  M 106 18.249 C 109.053 18.249 112.098 18.486 115.046 18.802 C 116.143 18.934 117.275 18.863 118.337 19.065 C 118.617 19.109 118.889 19.311 119.161 19.346 C 137.139 23.349 149.912 39.316 149.872 57.734 C 149.872 79.634 132.288 97.218 110.387 97.218 C 78.993 97.218 53.354 122.856 53.354 154.251 C 53.354 163.639 55.618 172.484 59.663 180.302 C 34.814 164.841 18.257 137.483 18.257 105.992 C 18.257 57.426 57.434 18.249 106 18.249 Z  M 164.955 41.282 C 182.573 57.321 193.743 80.222 193.743 105.992 C 193.743 153.637 156.014 192.024 108.738 193.463 C 87.627 192.568 70.903 175.608 70.903 154.251 C 70.903 132.35 88.486 114.767 110.387 114.767 C 141.782 114.767 167.42 89.128 167.42 57.734 C 167.406 52.159 166.575 46.616 164.955 41.282 L 164.955 41.282 Z  M 110.387 44.572 C 103.118 44.572 97.226 50.465 97.226 57.734 C 97.226 65.002 103.118 70.895 110.387 70.895 C 117.656 70.895 123.549 65.002 123.549 57.734 C 123.549 50.465 117.656 44.572 110.387 44.572 Z  M 110.387 141.089 C 103.118 141.089 97.226 146.982 97.226 154.251 C 97.226 161.52 103.118 167.412 110.387 167.412 C 117.656 167.412 123.549 161.52 123.549 154.251 C 123.549 146.982 117.656 141.089 110.387 141.089 Z "
        fill="rgb(255,255,255)" vector-effect="non-scaling-stroke"
        stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4"/>
  </svg>
{% endmacro %}

{% block toolbar %}
  {% import _self as self %}
  {% set icon %}
    {{ self.icon }}
    <span class="sf-toolbar-value">{{ collector.data('app_version') }}</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-group">
      {{ block('toolbar_info_pieces') }}
    </div>
  {% endset %}

  {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url, additional_classes: 'sf-toolbar-block-right' } %}
{% endblock %}

{% block toolbar_info_pieces %}
  <div class="sf-toolbar-info-piece">
    <b>Resources</b>
    <span>
      <a href="https://docs.harmonycms.net" rel="help" target="_blank">
        HarmonyCMS Documentation
      </a>
    </span>
  </div>
{% endblock %}

{% block menu %}
  {% import _self as self %}
  <span class="label disabled">
        <span class="icon">
            {{ self.icon }}
        </span>
        <strong>{{ collector.data('app_name') }}</strong>
    </span>
{% endblock %}

{% block panel %}
  <h2>{{ collector.data('app_name') }} Configuration</h2>
  <div class="metrics">
    <div class="metric">
      <span class="value">{{ collector.data('app_version') }}</span>
      <span class="label">Application version</span>
    </div>
    <div class="metric">
      <span class="value">{{ collector.data('active_theme') }}</span>
      <span class="label">Active theme</span>
    </div>
  </div>

  <h2>Parameters</h2>
  <table>
    <thead class="small">
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {% for key, param in collector.data('harmony_parameters') %}
      <tr>
        <th scope="row" class="font-normal">{{ key }}</th>
        <td class="font-normal">{{ param }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>Available themes</h2>
  <table>
    <thead class="small">
    <tr>
      <th>Name</th>
      <th>Path</th>
      <th>Version</th>
    </tr>
    </thead>
    <tbody>
    {% for name, data in collector.data('available_themes') %}
      <tr>
        <th scope="row" class="font-normal">{{ data.name }}</th>
        <td class="font-normal">{{ data.pathname }}</td>
        <td class="font-normal">{{ data.version }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}