{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% macro icon() %}
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 212 212">
    <path
        d=" M 4.24 106 C 4.24 49.837 49.837 4.24 106 4.24 C 162.163 4.24 207.76 49.837 207.76 106 C 207.76 162.163 162.163 207.76 106 207.76 C 49.837 207.76 4.24 162.163 4.24 106 Z  M 103.237 103.806 L 75.119 75.59 L 117.686 32.86 L 145.853 61.092 L 103.237 103.806 Z  M 150.989 145.366 L 179.14 117.15 L 136.881 74.891 L 108.763 103.026 L 150.989 145.366 Z  M 66.472 150.908 L 94.623 179.14 L 137.304 136.41 L 109.153 108.194 L 66.472 150.908 Z  M 60.946 66.228 L 32.86 94.46 L 75.476 137.19 L 103.627 108.974 L 60.946 66.228 Z "
        fill-rule="evenodd" fill="rgb(255,255,255)"/>
  </svg>
{% endmacro %}

{% block toolbar %}
  {% import _self as self %}
  {% set icon %}
    {{ self.icon }}
    <span class="sf-toolbar-value">{{ collector.data('app_version') }}</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-group">
      {{ block('toolbar_info_pieces') }}
    </div>
  {% endset %}

  {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url, additional_classes: 'sf-toolbar-block-right' } %}
{% endblock %}

{% block toolbar_info_pieces %}
  {% for toolbar in collector.data('toolbars') %}{{ toolbar|raw }}{% endfor %}
  <div class="sf-toolbar-info-piece">
    <b>Resources</b>
    <span>
      <a href="https://docs.harmonycms.net" rel="help" target="_blank">
        HarmonyCMS Documentation
      </a>
    </span>
  </div>
{% endblock %}

{% block menu %}
  {% import _self as self %}
  <span class="label label-status">
        <span class="icon">
            {{ self.icon }}
        </span>
        <strong>{{ collector.data('app_name') }}</strong>
    </span>
{% endblock %}

{% block panel %}
  <h2>{{ collector.data('app_name') }} Configuration</h2>
  <div class="metrics">
    <div class="metric">
      <span class="value">{{ collector.data('app_version') }}</span>
      <span class="label">Application version</span>
    </div>
    <div class="metric">
      {% if collector.data('active_theme') %}
        <span class="value">{{ collector.data('active_theme') }}</span>
      {% else %}
        <span class="value">{{ include('@WebProfiler/Icon/no.svg') }}</span>
      {% endif %}
      <span class="label">Active theme</span>
    </div>
  </div>

  <h2>Available Themes ({{ collector.data('available_themes')|length }})</h2>
  <table>
    <thead>
    <tr>
      <th>Identifier</th>
      <th>Version</th>
      <th>Path</th>
    </tr>
    </thead>
    <tbody>
    {% for name, theme in collector.data('available_themes') %}
      <tr>
        <th scope="row" class="font-normal">{{ theme.identifier }}</th>
        <td class="font-normal">{{ theme.version }}</td>
        <td class="font-normal">
          <pre class="sf-dump"><strong class="sf-dump-ellipsis">{{ theme.path }}</strong></pre>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>Extensions ({{ collector.data('extensions')|length }})</h2>
  <table>
    <thead>
    <tr>
      <th>Identifier</th>
      <th>Version</th>
      <th>Path</th>
    </tr>
    </thead>
    <tbody>
    {% for name, extension in collector.data('extensions') %}
      <tr>
        <th scope="row" class="font-normal">{{ extension.identifier }}</th>
        <td class="font-normal">{{ extension.version }}</td>
        <td class="font-normal">
          <pre class="sf-dump"><strong class="sf-dump-ellipsis">{{ extension.path }}</strong></pre>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}